<br>
<br>
<br>
<br>
<br>

<h1>Dashboard</h1>
<h1>Hello <%= @user.first_name %>!</h1>

<div class="container">
  <div class="dashboard">
  <% Category.all.each do |category| %>
    <div class="category">
      <h2><%= category.name %></h2>
      <div class="transactions">
      <% category.transactions.each do |transaction| %>
     
        <h3><%= transaction.title %></h3>
         <p><%= transaction.amount %></p>
          <p><%= transaction.transaction_date %></p>
      <% end %>

    </div>
  <% end %>
  </div>
</div>
