<br>
<br>
<br>
<br>
<br>

<div class="profile-container">
<h1 class="profile-icon"> <i class="fa-regular fa-user fa-2xl"></i> <%= link_to "Hello", profile_path, style: "color: white; text-decoration: none" %> <%= @user.first_name %>!</h1>
<button class="dash-btn"><%= link_to "Add a new transaction", transactions_path, style: "text-decoration: none" %></button>
</div>

  <% @transactions.each do |transaction| %>
    <div class="transaction">
      <div class="transaction-info">
        <div class="category-div">
          <h2 class="category"><%= transaction.category %></h2>
          <h4 class="title"><%= transaction.title %></h4>
          <p class="date"><%= transaction.transaction_date %></p>
        </div>
        <div class="amount-div">
        <h2 class="amount"><%= number_to_currency(transaction.amount) %></h2>
        </div>
      </div>
        <p class="actions">
        <%= link_to 'Edit', edit_transaction_path(transaction), style: "text-decoration: none" %> |
        <%= link_to 'Delete', transaction_path(transaction), style: "text-decoration: none", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this transaction?" } %>
         </p>
    </div>
      <% end %>
    </div>
</div>