<br>
<br>
<br>
<br>
<br>
<div class="profile-container block">
<% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% else %>
  <%= content_tag :h1, "Please Log in" %>
<% end %>

  <%= form_for :session, url: login_path do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Log in" %>
  <% end %>

  <br>
  <%= link_to "BACK TO HOME", "/", style: "color: black; text-decoration: none;"%>
</div>
