<br>
<br>
<br>
<br>
<br>
<h1>User Login Form</h1>
<div class="container">
<% if flash[:notice] %>
  <%= content_tag :h1, flash[:notice] %>
<% else %>
  <%= content_tag :h1, "Please Log in" %>
<% end %>

  <%= form_for :session, url: login_path do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Log in" %>
  <% end %>

  <br>
  <%= link_to "BACK TO HOME", "/" %>
</div>
