<br>
<br>
<br>
<br>
<br>
<div class="container">
<h1>New Transaction</h1>

<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :transaction_date %>
    <%= f.date_select :transaction_date, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, {}, class: 'form-control' %>
  </div>
  <br>
  <br>

  <div class="actions">
    <%= f.submit "Create Transaction" %>
  </div>
<% end %>
</div>
