<!DOCTYPE html>
<html>
  <head>
    <title>BudgetPlannerApp</title>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=M+PLUS+Rounded+1c:wght@100;300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>  

    <div class="notice">
      <% flash.each do |key, value| %>
        <div class="alert<%= key %> alert-dismissible fade show" role="alert">
          <%= value %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>

    <%= yield %>

    <script>
    
    var nav = document.getElementById('navlist');

    function toggleNav () {       

        if ( nav.style.display === "" )
        nav.style.display = "block";

        else
        nav.style.display = "";
    }


    function windowResizeHandler () {
        if ( screen.width > 500 )
        nav.style.display = "";
    }

    window.addEventListener("resize", windowResizeHandler);

</script>
  </body>
</html>
